<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PunchIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PunchIn.Properties.Settings>
            <setting name="SelectedAccentColor" serializeAs="String">
                <value>#FF76608A</value>
            </setting>
            <setting name="SelectedThemeSource" serializeAs="String">
                <value>/PunchIn;component/Assets/Themes/underworld.xaml</value>
            </setting>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0,0,720,600</value>
            </setting>
            <setting name="SharePointSiteUri" serializeAs="String">
                <value>http://hin-tfsportal/my/personal/he62276/</value>
            </setting>
            <setting name="SharePointListName" serializeAs="String">
                <value>Micro Management</value>
            </setting>
            <setting name="DefaultDateTimePickerFormatString" serializeAs="String">
                <value>yyyy.MM.dd hh:mm</value>
            </setting>
            <setting name="DefaultDatePickerFormatString" serializeAs="String">
                <value>dd/MM/yyyy</value>
            </setting>
            <setting name="DefaultUserShortcutFolderLocation" serializeAs="String">
                <value />
            </setting>
        </PunchIn.Properties.Settings>
    </userSettings>
</configuration>